<section class="details py-5">
    <div class="container" *ngIf="datainfo">
        <div class="div-searchBar py-2">
            <div class="form-group justify-content-center align-items-center d-flex">
                <input type="text" class="form-control justify-content-center align-items-center d-flex w-75"
                    placeholder="             Search ...      ">
                <button class="Search-btn">Search</button>
                <i class='bx bx-search-alt-2 fs-3' style='color:#0f3d3e'></i>
            </div>
        </div>
        <div class=" card-info py-4">
            <div class="row justify-content-between">
                <div class="col-8 rate-container  ">
                 <div class=" justify-content-start align-items-start">
                    <div class="title d-flex align-items-center justify-content-start rate-flex-box">
                        <span class="d-inline">{{datainfo.name}}</span>
                        <span class=" mx-3  d-flex justify-content-center align-items-center">
                            <i class='bx bxs-star' style='color:#ff8682'></i>
                            <i class='bx bxs-star ' style='color:#ff8682'></i>
                            <i class='bx bxs-star' style='color:#ff8682'></i>
                            <i class='bx bxs-star' style='color:#ff8682'></i>
                            <i class='bx bxs-star' style='color:#ff8682'></i>
    
                        </span>
                        <div class="break"></div>
                        <small class="flex-review">371 reviews</small>
                    </div>

              

                 </div>
                </div>

                <div class="col-2">
                    <h3>$240</h3>
                </div>

            </div>
   
            <div class="row card-info-2 justify-content-between align-items-center gap-5">
                <div class="col-md-4">
                    <ul>
                        <li> 
                            <div class="d-flex">
                               
                                <i class='bx bx-location-plus me-2 fs-5'></i>
                                <p class="p-0 m-0 ">  1036 Cambell St, Rapid City, South Dakota,57701</p>
                                
                            </div>
                      
                          </li>
                          <li> 
                            <div class="d-flex ">
                               
                                <i class='bx bx-message-dots  me-2 fs-5'></i>
                                <p class="p-0 m-0 ">{{datainfo.email}}</p>
                                
                            </div>
                      
                          </li>
                          <li> 
                            <div class="d-flex">
                               
                                <i class='bx bx-phone me-2 fs-5'></i>
                                <p class="p-0 m-0 ">(605) 716-6600</p>
                                
                            </div>
                      
                          </li>
                    </ul>

                </div>
                <div class="col-md-5">
                    <div class="d-flex gap-3">
                        <i class='bx bx-heart heart-btn'></i>
                        <button class="call-btn">Call Now</button>
                        <button class="book-btn">Book Now</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="div-photos ">
            <div class="row justify-content-center align-items-center d-flex">
                <div class="col-md-6 p-0 ">
                    <img src="{{datainfo.logo}}" alt="" class="w-100 img-frist ">
                </div>
                <div class="col-md-6    ">
                    <ng-container  *ngFor="let item of imgs ;let i = index">
                    <div class="row justify-content-between">
                        <div class=" col-6 p-0 " *ngIf="i == 0">
                            <img class="w-100 img-1" src="{{item}}" alt="">

                        </div>
                        <div class=" col-6 p-0" *ngIf="i == 1">
                            <img class="w-100 img-2 " src="{{item}}" alt="">

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6 p-0 justify-content-between" *ngIf="i == 2">
                            <img class="w-100 img-3" src="{{item}}" alt="">
                        </div>
                        <div class="col-6 p-0" *ngIf="i == 3">
                            <img class="w-100 img-4" src="{{item}}" alt="">
                        </div>

                    </div>
                </ng-container>
                </div>
            </div>
        </div>
        <div class="Description">
            <h3 class="py-4">Description</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Diam sed in tortor interdum non. Enim nisl nisl tellus urna elit
                nulla sodales felis. Vel sed turpis blandit sagittis. Auctor tincidunt ornare sed amet.. Lorem ipsum
                dolor sit amet consectetur. Diam sed in tortor interdum non. Enim nisl nisl tellus urna elit nulla
                sodales felis. Vel sed turpis blandit sagittis. Auctor tincidunt ornare sed amet. lis. Vel sed turpis
                blandit sagittis. Auctor tincidunt ornare sed amet.. Lorem ipsum dolor sit amet consectetur. Diam sed in
                tortor interdum non. Enim nisl nisl tellus urna elit nulla sodales felis. Vel sed turpis blandit
                sagittis. Auctor tincidunt ornare sed amet.</p>
        </div>
        <div class="Location/Map">
            <h3 class="py-3">Location/Map</h3>
            <img src="../../../assets/img/listing/Rectangle 19.png" alt="" class="w-100">
            <p class="py-1"> <i class='bx bx-location-plus me-1 fs-5'></i>1036 Cambell St, Rapid City, South Dakota,
                57701</p>
        </div>
        <div class="Reviews ">
            <h3 class="py-2">Reviews</h3>
            <div class="d-flex justify-content-center align-items-center gap-3">
                <input type="text" class="form-control w-75">
                <button class="book-btn">Give your review</button>
            </div>
            <div class="py-3">
                <p>371 verified reviews</p>
            </div>
            <div class="">

            </div>

        </div>
        <div class="silder">
            <div class="container">
                <owl-carousel-o [options]="customOptions" #slide>
                    <ng-template carouselSlide>

                        <div class="d-flex justify-content-center align-items-center py-2">

                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="../../../assets/img/detalis-info/Ellipse 1.png" alt=""
                                    style="width: 50px;">
                                <div>
                                    <p>Omar Siphron</p>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</small>
                                </div>
                            </div>


                        </div>
                        <div class="d-flex justify-content-center align-items-center py-2">

                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="../../../assets/img/detalis-info/Ellipse 1 (1).png" alt=""
                                    style="width: 50px;">
                                <div>
                                    <p>Omar Siphron</p>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</small>
                                </div>
                            </div>


                        </div>
        
                    </ng-template>
                    
                    <ng-template carouselSlide>

                        <div class="d-flex justify-content-center align-items-center">

                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="../../../assets/img/detalis-info/Ellipse 1 (1).png" alt=""
                                    style="width: 50px;">
                                <div>
                                    <p>Omar Siphron</p>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</small>
                                </div>
                            </div>


                        </div>
                        <div class="d-flex justify-content-center align-items-center">

                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="../../../assets/img/detalis-info/Ellipse 1.png" alt=""
                                    style="width: 50px;">
                                <div>
                                    <p>Omar Siphron</p>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</small>
                                </div>
                            </div>


                        </div>
                    </ng-template>

                </owl-carousel-o>
                <button class="btn right" (click)="slide.prev()"><i class='bx bx-chevron-right'
                        style='color:#000000'></i></button>

                <button class="btn left" (click)="slide.next()"><i class='bx bx-chevron-left'
                        style='color:#000000'></i></button>
            </div>

        </div>
        <div class="Similar py-5">
            <h5 class="text-start">Similar work : </h5>
            <div class="d-flex gap-3 row justify-content-center align-items-center py-3 ">
                <div class="card my-0 py-0 px-0 " style="max-width: 520px">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="./../../assets/img/Home/card1.png" class="img-fluid h-100 rounded-start" alt="..."/>
                        </div>
                
                        <div class="col-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <h5 class="me-3">Cafe Maribelle</h5>
                                    </div>
                                    <div>
                                        <span>$240</span>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <i class="bx bxs-location-plus"></i>
                                    <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                </div>
                                <div class="d-flex gap-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="bx bxs-star" style="color: #ff8682"></i>
                                        <i class="bx bxs-star" style="color: #ff8682"></i>
                                        <i class="bx bxs-star" style="color: #ff8682"></i>
                                        <i class="bx bxs-star" style="color: #ff8682"></i>
                                        <i class="bx bxs-star" style="color: #ff8682"></i>
                                    </div>
                                    <div>
                                        <small>371 reviews</small>
                                    </div>
                                </div>
                                <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class="bx bxs-heart fs-5" style="color: #101010"></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                 <div class="card my-0 py-0 px-0" style="max-width: 520px">
                  <div class="row g-0">
                      <div class="col-4">
                          <img src="./../../assets/img/Home/card1.png" class="img-fluid h-100 rounded-start" alt="..."/>
                      </div>
              
                      <div class="col-8">
                          <div class="card-body">
                              <div class="d-flex justify-content-center align-items-center">
                                  <div>
                                      <h5 class="me-3">Cafe Maribelle</h5>
                                  </div>
                                  <div>
                                      <span>$240</span>
                                  </div>
                              </div>
                              <div class="d-flex">
                                  <i class="bx bxs-location-plus"></i>
                                  <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                              </div>
                              <div class="d-flex gap-3">
                                  <div class="d-flex justify-content-center align-items-center">
                                      <i class="bx bxs-star" style="color: #ff8682"></i>
                                      <i class="bx bxs-star" style="color: #ff8682"></i>
                                      <i class="bx bxs-star" style="color: #ff8682"></i>
                                      <i class="bx bxs-star" style="color: #ff8682"></i>
                                      <i class="bx bxs-star" style="color: #ff8682"></i>
                                  </div>
                                  <div>
                                      <small>371 reviews</small>
                                  </div>
                              </div>
                              <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                  <div class="heart">
                                      <i class="bx bxs-heart fs-5" style="color: #101010"></i>
                                  </div>
                                  <div class="btn">
                                      <button class="View Place">View Place</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 </div>
              </div>
          
     
        </div>

    </div>

</section>
