<section class="header py-5">
 <div class="container">
    <div class="div">
        <h1 class="text-center pt-5">
            POST YOUR BIZ
        </h1>
        <p class="text-center">
            Find the Best Restaurants, Salons and Spa’s around you.
        </p>
    </div>
    <div class="div-searchBar py-2">
        <div class="form-group justify-content-center align-items-center d-flex">
            <input type="text" class="form-control justify-content-center align-items-center d-flex w-75" placeholder="             Search ...      ">
            <button class="Search-btn">Search</button>
            <i class='bx bx-search-alt-2 fs-3' style='color:#0f3d3e'></i>   
        </div>
    </div>
    <div class="div-searchBar2 py-2 form-control w-75">
        <div class="form-group">
            <div class="justify-content-center align-items-center d-flex gap-3 div-searchBar ">
                <p-dropdown [options]="categories" [(ngModel)]="categoriesName" optionLabel="name" placeholder="Listings"></p-dropdown>
                <p-dropdown [options]="categories" [(ngModel)]="categoriesName" optionLabel="name" placeholder="Category"></p-dropdown>
                <p-dropdown [options]="categories" [(ngModel)]="categoriesName" optionLabel="name" placeholder="State"></p-dropdown>
                <p-dropdown [options]="cities" [(ngModel)]="citiesName" optionLabel="name" placeholder="City"></p-dropdown>
                <input type="number" placeholder="Zip Code" class="px-3">
                <button class="Search-btn">Search</button>
            </div>
           
        </div>
    </div>
    <div class="py-5">
        <h1 class="text-center text-white py-5">How it works ?</h1>
    </div>
 </div>

 
</section>
<section class="bg-green">
  <div class="cards pb-5">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex gap-4">
            <div class="col-md-2 justify-content-center align-items-center d-flex col-8">
                <div class="box-card">
                    <p class="text-center text-white pt-5">1.Find</p>
                    <div class="rounded-circle ">
                        <div class="justify-content-center align-items-center d-flex py-4">
                            <img src="../../../assets/img/Home/globalsearch.png" alt="">
                        </div>
                        <div class="justify-content-center align-items-center d-flex"> 
                            <small class="text-center">You can find now the best <br> restraunts, salons and spa in  <br> your  area.</small>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 justify-content-center align-items-center d-flex col-8">
                <div class="box-card">
                    <p class="text-center text-white pt-5">2.Compare</p>
                    <div class="rounded-circle ">
                        <div class="justify-content-center align-items-center d-flex py-4">
                            <img src="../../../assets/img/Home/convertcard.png" alt="">
                        </div>
                        <div class="justify-content-center align-items-center d-flex"> 
                            <small class="text-center">You can find now the best <br> restraunts, salons and spa in  <br> your  area.</small>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 justify-content-center align-items-center d-flex col-8">
                <div class="box-card">
                    <p class="text-center text-white pt-5">3.Contact</p>
                    <div class="rounded-circle ">
                        <div class="justify-content-center align-items-center d-flex py-4">
                            <img src="../../../assets/img/Home/calladd.png" alt="">
                        </div>
                        <div class="justify-content-center align-items-center d-flex"> 
                            <small class="text-center">You can find now the best <br> restraunts, salons and spa in  <br> your  area.</small>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 justify-content-center align-items-center d-flex col-8">
                <div class="box-card">
                    <p class="text-center text-white pt-5">4.Relax</p>
                    <div class="rounded-circle ">
                        <div class="justify-content-center align-items-center d-flex py-4">
                            <img src="../../../assets/img/Home/icon1.png" alt="">
                        </div>
                        <div class="justify-content-center align-items-center d-flex"> 
                            <small class="text-center">You can find now the best <br> restraunts, salons and spa in  <br> your  area.</small>

                        </div>
                    </div>
                </div>
            </div>
           
        </div>
      </div>
 </div>
</section>
<!-- <section class="Restaurants">
  <div class="container Restaurants py-5">
    <p class="h1"> Most Popular Restaurants, Salons & Spa’s</p>
    
        <div class="div-box-navs py-3">
          <div class="">
                <ul class="nav nav-underline m-auto" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false">Restaurants</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Salons</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Spa’s</button>
                  </li>
                 
                </ul>
                <div class="tab-content py-5" id="myTabContent">
                  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">   
                    <div class="d-flex gap-5">
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    
                    </div>
                    <div class="d-flex gap-5">
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    
                    </div>
    
    
                  </div>
                  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <div class="d-flex gap-5">
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    
                    </div>
                    <div class="d-flex gap-5">
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    
                    </div>
                  </div>
                  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    <div class="d-flex gap-5">
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    
                    </div>
                    <div class="d-flex gap-5">
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="width: 40rem;">
                            <div class="row">
                              <div class="col-md-4">
                                <img src="../../../assets/img/Home/card1.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex gap-5">
                                        <div><h5>Cafe Maribelle</h5></div>
                                        <div><span>$240</span></div>
                                    </div>
                                    <div class="d-flex">
                                        <i class='bx bxs-location-plus'></i>
                                        <small>Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437</small>
                                    </div>
                                    <div class="d-flex gap-3">
                                      <div class="d-flex justify-content-center align-items-center">
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
                                        <i class='bx bxs-star' style='color:#ff8682'  ></i>
    
                                      </div>
                                      <div><small>371 reviews</small></div>
                                    </div>
                                    <div class="heartt d-flex py-4 gap-1 justify-content-center align-items-center">
                                    <div class="heart">
                                        <i class='bx bxs-heart fs-5' style='color:#101010' ></i>
                                    </div>
                                    <div class="btn">
                                        <button class="View Place" routerLink="/Listings/details/:id">View Place</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    
                    </div>
                  </div>
                </div>
          </div>
        </div>
   
 </div>
</section> -->


