section .header {
  background-color: #0f3d3e;

  .container {
    background-color: #0f3d3e;

    .div {
      h1 {
        color: white;
      }

      p {
        color: #e2dcc8;
        font-size: 22px;
        line-height: 29.26px;
      }
    }

    .div-searchBar {
      .form-group {
        position: relative;

        input {
          height: 64px;
          width: 820px;
          padding: 0 90px;
        }

        .Search-btn {
          background-color: #0f3d3e;
          color: #ffff;
          position: absolute;
          right: 175px;
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          width: 100px;
          height: 38px;
      
        }

        i {
          position: absolute;
          left: 190px;
        }
      }
    }

    .div-searchBar2 {
      background-color: #ffff;
      margin: 0px 160px;

      .form-group {
        position: relative;

        .div-searchBar {
          margin-right: 168px;
          form{
           display: flex !important; /* or inline-flex if you want it inline */
           justify-content: center !important;
           align-items: center !important;
           gap: 1rem; /* Adjust the gap as needed */
           .p-dropdown {
               border: none;
               width: 100%;
               background-color: transparent;
               margin: 0 15px;
           }
           input,
           input:focus,
           input:active {
               border: none;
               outline: none;
           }
           
         small {
           white-space: nowrap;
           font-family: 'Lato', sans-serif;
           font-size: 14px !important;

         }
         
         .Search-btn {
           background-color: #0F3D3E;
           color: #ffff;
           position: absolute;
           right: -6px;
           border-radius: 12px;
           -webkit-border-radius: 12px;
           -moz-border-radius: 12px;
           -ms-border-radius: 12px;
           -o-border-radius: 12px;
           width: 100px;
           height: 38px;
       }
       small {
           font-size: 12px;
       }


          }
       
        

         }
      }
    }
  }
}

section .bg-green {
  .cards {
    .container {
      .row {
        margin-top: -92px;

        .col-md-2 {
          height: 350px;
          background-color: #0f3d3e;
          border: 5px solid rgb(237, 236, 236);
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          position: relative;

          .box-card {
            position: absolute;
            top: -16px;

            p {
              font-weight: 600;
            }

            .rounded-circle {
              background-color: #ffff;
              height: 200px;
              width: 195px;
              margin: 45px -4px;

              small {
                font-size: 13px;
                color: #454545;
                font-family: "Lato", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}

section .Restaurants {
  .container {
    .container {
      p {
        color: #ff8682 !important;
      }
      p-tabPanel {
        .d-flex {
          .card {
            .row {
              .col-4 {
                img {
                  height: 219px;
                }
              }

              .col-8 {
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;

                .card-body {
                  .d-flex {
                    h5 {
                      font-family: "Lato", sans-serif;
                      font-size: 20px;
                      line-height: 24px;
                      font-weight: 900 !important;
                      white-space: nowrap;
                      margin: 0px 36px;;
                    }

                    span {
                      color: #ff8682;
                      width: 107px;
                      height: 59px;
                      font-weight: 700;
                      font-size: 20px;
                      padding: 0px 82px;
                      font-family: "Lato", sans-serif;
                    }

                    small {
                      font-family: "Lato", sans-serif;
                    }
                  }

                  .heartt {
                    .heart {
                      i {
                        border: 1px #258a8b solid !important;
                        height: 48px;
                        width: 48px;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                      }
                    }
                  }

                  .btn {
                    button {
                      height: 48px;
                      border-radius: 10px;
                      width: 236px;
                      background-color: #8dd3bb;
                      outline: none;
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
section .Contact{
  .container{
    h4{
      cursor: pointer;
    }
  }
}
.p-tabview .p-tabview-nav-content {
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.p-tabview .p-tabview-nav {
  background: #ffffff;
  border: none;
  border-width: 0 0 2px 0;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: #0f3d3e !important;
}
.p-tabview .p-tabview-nav {
  background: #ffffff;
  border: none;
  border-width: 0 0 2px 0;
  border-color: #258a8b;
  color: #0f3d3e !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
.p-tabview-nav-container {
  display: flex;
  justify-content: center;
  .p-tabview-nav-content {
    width: 50%;
  }
}

@media (max-width: 767px) {
  section .header {
    background-color: #0f3d3e;

    .container {
      background-color: #0f3d3e;

      .div {
        h1 {
          color: white;
        }

        p {
          color: #e2dcc8;
          font-size: 14px;
          line-height: 29.26px;
        }
      }

      .div-searchBar, form {
        flex-direction: column !important;
        gap: 1rem !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;

        .form-group {
          position: relative;

          input {
            height: 39px;
            width: 820px;
            padding: 0 90px;
          }

          .Search-btn {
            display: none;
          }

          i {
            position: absolute;
            left: 219px;
            background-color: #0f3d3e;
            color: white !important;
            width: 34px;
            height: 27px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }
      }

      .div-searchBar2 {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // margin: 0px 35px !important;
        height: 414px;

        .form-group {
          position: relative;

          .Search-btn {
            background-color: #0f3d3e;
            color: white;
            position: absolute;
            right: 46px !important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            width: 111px;
            height: 34px;
            bottom: -74px;
            outline: none;
            border: none;
          }

          .p-dropdown {
            border: none;
            width: 100%;
            background-color: transparent;
            margin: 0 20px;
            justify-content: center;
            align-items: center;
            display: flex;
          }

          input,
          input:focus,
          input:active {
            border: none;
            outline: none;
            width: 50%;
          }
        }
      }
    }
  }

  section .bg-green {
    .cards {
      .container {
        .row {
          .col-md-2 {
            height: 350px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            position: relative;
            justify-content: center;
            align-items: center;
            display: flex;
            margin: 0px 30px;
            background-color: #0f3d3e;
            border: 5px solid rgb(237, 236, 236);
            border-radius: 12px;

            .col-8 {
              width: 100%;
            }

            .box-card {
              position: absolute;
              top: -16px;

              p {
                font-weight: 600;
              }

              .rounded-circle {
                background-color: #ffff;
                height: 200px;
                width: 195px;
                margin: 45px -4px;

                small {
                  font-size: 13px;
                  color: #454545;
                  font-family: "Lato", sans-serif;
                }
              }
            }
          }
        }
      }
    }
  }
  section .Restaurants {
    .container {
      .h1 {
        font-size: 19px;
        /* word-break: break-word; */
        text-align: center;
        word-wrap: break-word;
        margin: 0px 21px;
        font-weight: 700;
      }
      .container {
        p {
          font-size: 10px;
        }
        .p-tabview-nav-container .p-tabview-nav-content {
          width: 100% !important;
        }
        p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
          border-color: #258a8b;
        }
        .p-tabview-title {
          line-height: 1;
          white-space: nowrap;
          font-size: 13px;
        }

        p-tabPanel {
          .d-flex {
            .card {
              .row {
                .col-4 {
                  img {
                    height: 219px;
                  }
                }

                .col-8 {
                  border-radius: 4px;
                  -webkit-border-radius: 4px;
                  -moz-border-radius: 4px;
                  -ms-border-radius: 4px;
                  -o-border-radius: 4px;

                  .card-body {
                    .d-flex {
                      h5 {
                        font-family: "Lato", sans-serif;
                        font-size: 15px;
                        line-height: 33px;
                        font-weight: 900 !important;
                        white-space: nowrap;
                      }

                      span {
                        color: #ff8682;
                        width: 107px;
                        height: 59px;
                        font-weight: 700;
                        font-size: 17px;
                        padding: 0px 0px;
                        font-family: "Lato", sans-serif;
                        gap: 0px !important;
                      }

                      small {
                        font-family: "Lato", sans-serif;
                      }
                    }

                    .heartt {
                      .heart {
                        i {
                          border: 1px #258a8b solid !important;
                          height: 48px;
                          width: 48px;
                          border-radius: 10px;
                          -webkit-border-radius: 10px;
                          -moz-border-radius: 10px;
                          -ms-border-radius: 10px;
                          -o-border-radius: 10px;
                          justify-content: center;
                          align-items: center;
                          display: flex;
                        }
                      }
                    }

                    .btn {
                      button {
                        height: 44px;
                        border-radius: 10px;
                        width: 86px;
                        background-color: #8dd3bb;
                        outline: none;
                        border: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 375px) and (max-width: 620px) {
  section .header {
    background-color: #0f3d3e;

    .container {
      background-color: #0f3d3e;

      .div {
        h1 {
          color: white;
        }

        p {
          color: #e2dcc8;
          font-size: 14px;
          line-height: 29.26px;
        }
      }

      .div-searchBar {
        flex-direction: column;
        gap: 1rem;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        margin: 0px !important;

        .form-group {
          position: relative;

          input {
            height: 39px;
            width: 820px;
            padding: 0 90px;
          }

          .custom-input::placeholder {
            color: transparent;
          }

          .Search-btn {
            display: none;
          }

          i {
            position: absolute;
            left: 268px;
            background-color: #0f3d3e;
            color: white !important;
            width: 34px;
            height: 27px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }
      }

      .div-searchBar2 {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 45px !important;
        height: 414px;

        .form-group {
          position: relative;

          .Search-btn {
            background-color: #0f3d3e;
            color: white;
            position: absolute;
            right: 48px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            width: 111px;
            height: 34px;
            bottom: -75px;
            outline: none;
            border: none;
          }

          .p-dropdown {
            border: none;
            width: 100%;
            background-color: transparent;
            margin: 0 20px;
            justify-content: center;
            align-items: center;
            display: flex;
          }

          input,
          input:focus,
          input:active {
            border: none;
            outline: none;
            width: 50%;
          }
        }
      }
    }
  }
  section .Restaurants {
    .container {
      .h1 {
        font-size: 19px;
        /* word-break: break-word; */
        text-align: center;
        word-wrap: break-word;
        margin: 0px 21px;
        font-weight: 700;
      }
      .container {
        p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
          border-color: #258a8b;
        }
        p-tabPanel {
          .d-flex {
            .card {
              .row {
                .col-4 {
                  img {
                    height: 219px;
                  }
                }

                .col-8 {
                  border-radius: 4px;
                  -webkit-border-radius: 4px;
                  -moz-border-radius: 4px;
                  -ms-border-radius: 4px;
                  -o-border-radius: 4px;

                  .card-body {
                    .d-flex {
                      h5 {
                        font-family: "Lato", sans-serif;
                        font-size: 15px;
                        line-height: 33px;
                        font-weight: 900 !important;
                        white-space: nowrap;
                      }

                      span {
                        color: #ff8682;
                        width: 107px;
                        height: 59px;
                        font-weight: 700;
                        font-size: 17px;
                        padding: 0px 0px;
                        font-family: "Lato", sans-serif;
                        gap: 0px !important;
                      }

                      small {
                        font-family: "Lato", sans-serif;
                      }
                    }

                    .heartt {
                      .heart {
                        i {
                          border: 1px #258a8b solid !important;
                          height: 48px;
                          width: 48px;
                          border-radius: 10px;
                          -webkit-border-radius: 10px;
                          -moz-border-radius: 10px;
                          -ms-border-radius: 10px;
                          -o-border-radius: 10px;
                          justify-content: center;
                          align-items: center;
                          display: flex;
                        }
                      }
                    }

                    .btn {
                      button {
                        height: 48px;
                        border-radius: 10px;
                        width: 93px;
                        background-color: #8dd3bb;
                        outline: none;
                        border: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width:768px) and (max-width:1400px){
    section .header {
        background-color: #0f3d3e;
    
        .container {
          background-color: #0f3d3e;
    
          .div {
            h1 {
              color: white;
            }
    
            p {
              color: #e2dcc8;
              font-size: 14px;
              line-height: 29.26px;
            }
          }
    
          .div-searchBar {
            flex-direction: column;
            gap: 1rem;
            display: flex;
            flex-direction: column !important;
            align-items: center;
            justify-content: center;
    
            .form-group {
              position: relative;
    
              input {
                height: 39px;
                width: 820px;
                padding: 0 174px;
              }
    
              .Search-btn {
                display: none;
              }
    
              i {
                position: absolute;
                left: 413px;
                background-color: #0f3d3e;
                color: white !important;
                width: 33px;
                height: 27px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                justify-content: center;
                align-items: center;
                display: flex;
              }
            }
          }
    
          .div-searchBar2 {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          //  margin: 0px 148px !important;
            height: 417px;
            width: 403px !important;
    
            .form-group {
              position: relative;
    
              .Search-btn {
                background-color: #0f3d3e;
                color: white;
                position: absolute;
                right: 46px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                width: 111px;
                height: 34px;
                bottom: -74px;
                outline: none;
                border: none;
              }
    
              .p-dropdown {
                border: none;
                width: 100%;
                background-color: transparent;
                margin: 0 20px;
                justify-content: center;
                align-items: center;
                display: flex;
              }
    
              input,
              input:focus,
              input:active {
                border: none;
                outline: none;
                width: 50%;
              }
            }
          }
        }
      }
    section .bg-green {
        .cards {
          .container {
            .row {
              .col-md-2 {
                width: 31.666667%;
            }
    
                // .col-8 {
                // }
    
                
              }
            }
          }
        }
}

    
