a .nav-link{
    color: #0F3D3E;
}
.bg{
    background-color: #0F3D3E !important;
    color: white !important;
}
.btn-1{
    background-color: #0F3D3E;
    color: #ffff;
    Width:123px;
    height: 38px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 6px ;
}
.btn-2{
    background-color:#ffff;
    color: #0F3D3E;
    Width:123px;
    height: 38px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 6px ;
}

