a .nav-link{
    color: #0F3D3E;
    word-wrap: none;
}
.bg{
    background-color: #0F3D3E !important;
    color: white !important;
    border-radius: 10px;
    width: 90px;
    height: 38px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.btn-1{
    background-color: #0F3D3E;
    color: #ffff;
    width:123px;
    height: 38px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 6px ;
}
.btn-2{
    background-color:#ffff;
    color: #0F3D3E;
    width: 123px;
    height: 38px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 6px ;
}
nav{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 90px !important;

}
.p-button{
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
   

}
.div-searchBar2 {
    background-color: #ffff;
    // margin: 0px 10px;

    .form-group {

        .Search-btn {
            background-color: #0F3D3E;
            color: #ffff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            width: 111px;
            height: 38px;
            margin: 20px 0px ;
}

        .p-dropdown {
            border: none;
            width: 100%;
            background-color: transparent;
            // margin: 0 20px;
        }

        input,
        input:focus,
        input:active {
            border: none;
            outline: none;
            width: 100px;
        }

    }
}


.p-sidebar-right , .p-sidebar-left {
    top: 0;
    right: 0;
    width: 188px !important;
    height: 100%;
}
.p-button.p-button-icon-only{
    margin: 0px 17px;
}
.mobile{
    display: none;
    background-color: #ffff;
}

@media (max-width: 767px) {
    .navbar{
        display: none;
    }
    .mobile{
        display: block;
       
    }
    a .nav-link{
        color: #0F3D3E;
        word-break: none;      
    }
}

@media (min-width:768px) and (max-width:1400px) {
    .navbar{
        display: none;
    }
    .mobile{
        display: block;
       
    }
}
