<section class="footer py-3">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-2">
                <img src="../../../assets/img/footer/logo_footer.png" alt="" />
            </div>
            <div class="col-md-3 justify-content-center align-items-center d-flex">
                <ul class="list">
                    <li class="frist">Explore</li>
                    <li routerLink="/listing">Listings</li>
                    <li routerLink="/posting">Postings</li>
                    <li routerLink="/Buy-Sell">Buy & Sell</li>
                </ul>
            </div>
            <div class="col-md-2 justify-content-center align-items-center d-flex">
                <ul>
                    <li class="frist">Company</li>
                    <li routerLink="/contact-us">Contact Us</li>
                    <li routerLink="/posting">Postings</li>
                    <li routerLink="/Terms-Conditions">Terms & Conditions</li>
                </ul>
            </div>
            <div class="remove-from-web col-md-3 justify-content-center align-items-center d-flex">
                <ul class="justify-content-center align-items-center">
                    <li class="frist">Find Us on Social Media</li>
                    <li>
                        <div class="d-flex text-center justify-content-center align-items-center gap-2">
                            <i class="bx bxl-facebook-square fs-3" style="color: #ffffff"></i>
                            <p class="p-0 m-0">PostYourBiz@mail.com</p>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex text-center justify-content-center align-items-center gap-2">
                            <i class="bx bxl-instagram-alt fs-3" style="color: #ffffff"></i>
                            <p class="p-0 m-0">Post_Your_Biz_256</p>
                        </div>
                    </li>

                    <li>
                        <div class="d-flex text-center justify-content-center align-items-center gap-2">
                            <i class="bx bxl-whatsapp fs-3" style="color: #ffffff"></i>
                            <p class="p-0 m-0">+20 015 843 5278</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="remove col-md-3">
                <h5 class="text-center text-white">Find Us on Social Media</h5>
                <div class="justify-content-center align-items-center d-flex gap-2">

                    <div>
                        <a href="">
                            <i class="bx bxl-facebook-square fs-1" style="color: #ffffff"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="bx bxl-instagram-alt fs-1" style="color: #ffffff"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="bx bxl-whatsapp fs-1" style="color: #ffffff"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>