section{
    background-color:#0F3D3E ;
    .container{
        .row{
            .col-md-2 ,.col-md-3{
                justify-content: center;
                align-items: center;
                display: flex;
                ul{
                    li ,h5 {
                        color:white;
                        list-style: none;
                        margin: 15px 0px ;
                        font-family: 'Lato', sans-serif;
                        padding: 5px 0px ;
                        font-size: 1.2rem !important;
                        .d-flex{
                            
                            justify-content: center !important;
                            align-items: center !important;
                            display: flex !important;
                        }
                    }
                    .frist{
                        font-weight: 600 !important;
                        p{
                            justify-content: center !important;
                            align-items: center !important;
                            display: flex !important;
                        }
                      }
                    
                }
            }
            .remove-from-web {
                display: block;
            }
            .remove{
                display: none;
            }
        }
    }
}
@media (max-width: 767px) {
    section{
        background-color:#0F3D3E ;
        .container{
            .row{
                .col-md-2 ,.col-md-3{
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    img{
                      width: 132px;
                    }

                    ul{
                        padding-left: 0rem;
                        li ,p {
                            color:white;
                            list-style: none;
                            text-align: center;
                            // margin: 15px 0px ;
                            font-family: 'Lato', sans-serif;
                            // padding: 5px 0px ;
                            .d-flex{
                            
                                justify-content: center !important;
                                align-items: center !important;
                                display: flex !important;
                                i{
                                    display: none;
                                }
                            }
                        }
                        .frist{
                            font-weight: 600 !important;
                          }
                        
                    }
                
                }
                .remove-from-web {
                    display: none !important;
                }
                .remove{
                    display: block;
                }
              
            }
        }
    }
   
}


