.list-img{
    .container{
        .row{
            .col-md-2{
                .card{
                    border-radius: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    -o-border-radius: 25px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                   

                    img{
                        height:200px;
                        border-radius: 7px;
                        -webkit-border-radius: 7px;
                        -moz-border-radius: 7px;
                        -ms-border-radius: 7px;
                        -o-border-radius: 7px;
                        .title{
                       

                            background-color: white;
                            box-shadow: 0px 4px 4px 0px #00000040;

                            h5{
                                font-weight: 600;
                                font-family: 'Lato', sans-serif;
                                color: #0F3D3E;
                                font-size: 25px;
                                

                            }
                        }
                    }
                }
            }
        }
    }
}