<section class="list-img">
    <div class="container">
        <app-loader *ngIf="loading"></app-loader>
        <div class="row justify-content-center align-items-center d-flex gap-3 py-3 p-0">
        <div class="col-md-3 col-12" *ngFor="let item of data">
                <div class="card justify-content-between align-items-center d-flex">
                    <img src="{{item.logo}}" alt="" class="w-100 img-fluid object-fit-fill border rounded">
                      <div class="title py-2">
                        <h5>{{item.name}}</h5>
                      </div>
                </div>
            </div>
            

      
          
        </div>
    </div>
</section>

