/* You can add global styles to this file, and also import other style files */
/*Font------lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');
@import "primeicons/primeicons.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    // font-size: max(calc(7px + 0.3vw), 10px);
}
body{
  
    height: 100vh;   
}
li a{
    font-family: 'Lato', sans-serif;
    font-weight: 900 !important;
    Size:15px;
    line-height: 18px;
    color: #0F3D3E !important;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Montserrat', sans-serif;

}