.container{
    h5{
        color: #0F3D3E;
        font-family: 'Lato', sans-serif !important;
         font-weight: 900;
    }
    .d-flex{
         .row{
          
            .card-body {
                .d-flex {
                  h5 {
                    font-family: "Lato", sans-serif;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 900 !important;
                    white-space: nowrap;
                    margin: 0px 36px;;
                  }

                  span {
                    color: #ff8682;
                    width: 107px;
                    height: 59px;
                    font-weight: 700;
                    font-size: 20px;
                    padding: 0px 82px;
                    font-family: "Lato", sans-serif;
                  }

                  small {
                    font-family: "Lato", sans-serif;
                  }
                }

                .heartt {
                  .heart {
                    i {
                      border: 1px #258a8b solid !important;
                      height: 48px;
                      width: 48px;
                      border-radius: 10px;
                      -webkit-border-radius: 10px;
                      -moz-border-radius: 10px;
                      -ms-border-radius: 10px;
                      -o-border-radius: 10px;
                      justify-content: center;
                      align-items: center;
                      display: flex;
                    }
                  }
                }

                .btn {
                  button {
                    height: 48px;
                    border-radius: 10px;
                    width: 236px;
                    background-color: #8dd3bb;
                    outline: none;
                    border: none;
                  }
                }
              }
      
       
    }
    }
  
}
