.posting{
    .container{
        .box-white{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            .div-info{
               p{
                font-family: 'Lato', sans-serif;
                font-weight: 800;
               }
               small{
                font-family: 'Lato', sans-serif;

               }
            }
            .card-imgs{
              
            }
        }
    }


}