<section class="posting py-5">
    <app-loader *ngIf="loading"></app-loader>

    <div class="container" *ngIf="datainfo">
        <div class="box-white">
            <div class="div-info d-flex align-items-center justify-content-start gap-3 py-3">
                <img src="{{ datainfo.business.logo}}" alt="" width="50" height="50" class="rounded-circle" />
                <div>
                    <p class="p-0 m-0">{{ datainfo.title}}</p>
                    <div class="d-flex gap-1 justify-content-start align-items-center">
                        <i class='bx bx-world fs-6' style='color:#6b6666'></i>
                        <p class="title-time text-muted m-0">{{datainfo.postTime}}</p>
                    </div>
                </div>

            </div>
             
            <div class="justify-content-center align-items-center d-flex">
                <!-- <p-galleria [value]="galleryphotos" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '850px' }" [numVisible]="7" [circular]="true" [showIndicatorsOnItem]="true"[showItemNavigators]="true" 
                [showItemNavigators]="true" [showThumbnails]="false">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="display: block;" width="800" height="500" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </div>
                </ng-template>
               </p-galleria> -->
               <p-galleria
          
               [value]="galleryphotos"
               [showItemNavigators]="true"
               [responsiveOptions]="responsiveOptions"
               [circular]="true"
               [numVisible]="5"
               [showThumbnailNavigators]="false"
             >
               <ng-template pTemplate="item" let-item>
                 <img
                   [src]="item"
                   class="w-75"
                 />
               </ng-template>
               <ng-template pTemplate="thumbnail" let-item>
                 <div class="d-grid justify-content-center">
                   <img
                     [src]="item"
                     class="img-fluid w-75"
                   />
                 </div>
               </ng-template>
             </p-galleria>
       
            </div>

            <div>
                <p class="text-start">{{datainfo.content}}</p>
            </div>
        </div>
    </div>


</section>