<section class="posting py-5">
    <div class="container" *ngIf="datainfo">
        <div class="box-white">
            <div class="div-info d-flex align-items-center justify-content-start gap-3">
                <img src="{{ datainfo.business.logo}}" alt="" width="50" height="50" class="rounded-circle" />
                <div>
                    <p class="p-0 m-0">{{ datainfo.title}}</p>
                    <small>{{datainfo.postTime}}</small>
                </div>
            </div>
            <div class="card-imgs py-3"   ngFor="index = index">
                <div class="row gap-1 justify-content-start align-items-start d-flex" *ngIf="imgs.length == 1">
                    <div class="col-12 col-12" *ngFor="let item of imgs">
                        <!-- <img src="{{item}}" alt="" class="rounded rounded-3 w-100"  style="cursor: pointer" (click)="imageClick(index)" > -->

                    </div>
                </div>
                <div class="row gap-1 justify-content-start align-items-start d-flex" *ngIf="imgs.length == 2">
                    <div class="col-md-5 col-12" *ngFor="let item of imgs">
                        <img src="{{item}}" alt="" class="rounded rounded-3 w-100" >

                    </div>
                </div>
                <div class="row gap-1 justify-content-start align-items-start d-flex" *ngIf="imgs.length == 3">
                    <div class="col-md-3 col-12" *ngFor="let item of imgs">
                        <img src="{{item}}" alt="" class="rounded rounded-3 w-100" height="330" >

                    </div>
                </div>
                <div class="row gap-1 justify-content-start align-items-start d-flex" *ngIf="imgs.length == 4">
                    <div class="col-md-3 col-12" *ngFor="let item of imgs">
                        <img src="{{item}}" alt="" class="rounded rounded-3 w-100" height="300" >

                    </div>
                </div>
                <div class="row gap-1 justify-content-start align-items-start d-flex" *ngIf="imgs.length > 4">
                    <div class="col-md-3 col-12" *ngFor="let item of imgs">
                        <img src="{{item}}" alt="" class="rounded rounded-3 w-100" height="300" >

                    </div>
                </div>
            </div>
            <div>
                <p>{{datainfo.content}}</p>
            </div>
        </div>
    </div>
    <p-galleria *ngIf="imgs"
    [value]="imgs"
    [(visible)]="displayCustom"
    [(activeIndex)]="activeIndex"
    [containerStyle]="{ 'max-width': '850px' }"
    [numVisible]="7"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="img" let-item>
      <img [src]="img" style="width: 100%; display: block;" />
    </ng-template>
  </p-galleria>
        
</section>