<section class="contact-us py-2">
    <div class="container">
        <div class="img-nav">
            <img src="../../../assets/img/logo/logo.png" alt="" class="">
        </div>
    </div>
    <div class="container pt-5">
        <div class="row justify-content-center align-items-center d-flex ">
            <div class="col-md-6 col-10">
                <h2 class="py-3">Contact Us </h2>
                <form>
                 <div class="py-2">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" placeholder="john.doe@gmail.com">
                 </div>
                 <div class="py-2">
                    <label for="text">Message</label>
                    <textarea class="form-control"  placeholder="Write your message here ..."></textarea>
                 </div>
                 <div class="justify-content-center align-items-center d-flex py-3 w-100">
                    <button class="send w-100">Send</button>
                 </div>

               </form>
               <p class="text-center rania" routerLink="/home">Return to Home Page</p>
            </div>
            <div class="hide-from-web col-md-6">
                <img src="../../../assets/img/auth/slider2.png" alt="" class="w-75" height="620">
            </div>
        </div>
    </div>
</section>